<section class="about" id="about">
  <h1 class="heading"><span>about</span> us</h1>
  <div class="row">
    <div class="image">
      <img src="image/about.gif" alt="" />
    </div>
    <div class="content">
      <h3>we take care of your healthy life</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        obcaecati amet maxime. Ab minus corporis, alias voluptatum minima esse
        voluptate vero eligendi provident rerum quisquam expedita laboriosam.
        Sit nam odio corporis veritatis maiores, qui harum minima culpa
        excepturi reprehenderit blanditiis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vero
        similique delectus nihil non explicabo ducimus at nisi numquam autem?
      </p>
      <a href="#" class="bttn">
        learn more <span class="fas fa-chevron-right"></span
      ></a>
    </div>
  </div>
</section>
