<section class="doctors" id="doctors">
  <h1 class="heading">our <span>doctors</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="image/doc1.jpg" alt="" />
      <h3>john doe</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <img src="image/doc2.jpg" alt="" />
      <h3>john doe</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <img src="image/doc3.jpg" alt="" />
      <h3>john doe</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <img src="image/doc4.jpg" alt="" />
      <h3>john doe</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <img src="image/doc5.jpg" alt="" />
      <h3>john doe</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <img src="image/doc6.jpg" alt="" />
      <h3>john doe</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>
  </div>
  <div id="seeMore">
    <a href="/doctors" class="bttn">
      See more <span class="fas fa-chevron-right"></span
    ></a>
  </div>
</section>
