<header class="header mb-5">
  <nav
    class="navbar fixed-top navbar-expand-lg bg-body-tertiary p-0"
    data-bs-theme="blue"
  >
    <div class="container-fluid p-1">
      <a class="navbar-brand logo ms-5" href="#"
        ><i class="fas fa-heartbeat"></i> Hospi
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">home</a>
          <a class="nav-link" href="/#services">services</a>
          <a class="nav-link" href="/#about">about</a>
          <a class="nav-link" href="/doctors">doctors</a>
          <a
            class="nav-link"
            href="http://127.0.0.1:5500/authentication%202/index.html"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
