<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospi</title>

    <link rel="icon" href="image/logo.png" />

    <!-- MapBox -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <link rel="stylesheet" href="/css/login.css" /> -->

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Stick+No+Bills:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>

    <main class="conatiner"><%- body %></main>

    <%- include('../partials/footer')%>

    <!-- scroll up section starts -->

    <div class="scroll">
      <div class="box-container">
        <div class="box">
          <button
            type="button"
            class="btn btn-danger btn-floating btn-lg"
            id="btn-back-to-top"
          >
            <i class="fas fa-chevron-up"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- scroll up section ends -->

    <!-- custom js -->
    <script src="/js/script.js"></script>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>

    <!-- FireBase -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0="
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          loop: true,
          autoplay: true,
          autoplayTimeout: 2000,
          autoplayHoverPause: true,
          items: 1,
        });
      });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyADFgLcZsg9IgWr12jftNIeorWI_CXoXrk",
        authDomain: "authentication-d8a60.firebaseapp.com",
        projectId: "authentication-d8a60",
        storageBucket: "authentication-d8a60.appspot.com",
        databaseURL:
          "https://authentication-d8a60-default-rtdb.firebaseio.com/",
        messagingSenderId: "945221670213",
        appId: "1:945221670213:web:e57d97de26b22ed70f9a2c",
        measurementId: "G-39BQQLT9JE",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();
    </script>
    <script type="text/javascript" src="login.js"></script>
  </body>
</html>
